html {
    height : 100vh;
}

body {
    height : 100vh;
    width : 100vw;
    background-color : #2E3440;
    margin : 0;
    padding : 0;
    scrollbar-width : none;
    -ms-overflow-style : none;
    overflow-y : none;
    color : white;
}

body::-webkit-scrollbar {
    display : none;
}

.menu {
    display : flex;
    flex-direction : column;
    flex-wrap : wrap;
    justify-content : center;
    align-content : center;

    height : 100vh;
    width : 100vw;
}

.menu a {
    text-decoration : none;
}

.menu-option {
    background-color : #D8DEE9;
    text-align : center;
    flex : 0 0 20vh;
    height : 10vh;
    line-height : 10vh;
    margin : 2vh;
    width : 30vw;
    border-radius : 5vh;
}

.menu-option p {
    font-size : 4vh;
    color : black;
}

.codeblock {
    font-size : 10px;
    line-height : 10px;
    font-family : monospace;
}

.help-button {
    position : absolute;
    top : 0;
    right : 0;
    margin : 3vh;
    width : 8vh;
    height : 8vh;
    box-shadow : 3px 3px 6px rgba(0, 0, 0, .9);
    background-color : #D8DEE9;
    border-radius : 4vh;
}

.help-button p {
    cursor : default;
    text-align : center;
    color : #2E3440;
    margin : 0 0;
    font-size : 6vh;
}

/* --- Board Class --- */

/* TODO : Add functionality for mobile devices.
 * this would include making the board flexbox have flex-direction : row,
 * and also making the cards have variable size as a function of screen size.
 */

.board {
    display : flex;
    flex-direction : column;
    flex-wrap : wrap;
    justify-content : center;
    align-content : center;

    height : 100vh;
    width : 100vw;
}

.gameover-popup {
  position: absolute;
  z-index : 10;
  top: 30vh;
  left: 10vw;
  border-radius: 2vh;
  background-color: #FFFFFF;
  box-shadow : 5px 5px 20px rgba(0, 0, 0, .6);
  width: 80vw;
  text-align: center;
  color: black;
}

.gameover-popup h1 {
  margin : 3vw 0 0 0;
  font-size: 2em;
}
.gameover-popup p {
  margin : 3vw 0 3vw 0;
  font-size: 1em;
}

/* --- Card Class --- */
.card {
    flex : 0 0 28vh;

    margin : 2vh;
    width : 21vh;
    height : 28vh;
    border-radius : 1vh;

    background-color : #D8DEE9;

    box-shadow : 3px 3px 6px rgba(0, 0, 0, .9);
    transition: all .2s ease-in-out;

    display : flex;
    flex-direction : column;
    flex-wrap : wrap;
    justify-content : center;
    align-content : center;
}
.card:hover {
    box-shadow : 10px 10px 20px rgba(0, 0, 0, .9);
    transform : translate(0px, -6px);
}

/* --- Shape Classes --- */
.oval {
    margin : 1vh;
    flex : 0 0 6vh;
    width : 10.5vh;
    height : 6vh;
    border-radius: 3vh; 
    /* background-color : #BF616A; */
}

.rhombus {
    margin : 0.3vh;
    flex : 0 0 7.5vh;
    width : 7.5vh;
    height : 7.5vh;
    transform: rotate(-22.5deg) skewX(45deg) scaleY(cos(45deg));
    /* background-color : #BF616A; */
}
.Red {
    background-color : #BF616A;
    border-color : #BF616A;
}
.Green {
    background-color : #A3BE8C;
    border-color : #A3BE8C;
}
.Blue {
    background-color : #81A1C1;
    border-color : #81A1C1;
}
.empty {
    background-color : transparent;
    border-style:solid;
}
.half {
    mask-image: repeating-linear-gradient(-50deg, black, black 4px, transparent 4px, transparent 9px);
    -webkit-mask-image: -webkit-repeating-linear-gradient(-50deg, black, black 4px, transparent 4px, transparent 9px);
}
.full {
    border-style : none;
}

.squiggle {
    margin : 1vh;
    flex : 0 0 6vh;
    width : 10.5vh;
    height : 6vh;
    border-style : none;
    background-color : transparent;
    background-repeat : no-repeat;
    background-position : center;
    background-size : contain;
}

.squiggle.Red.full, .squiggle.Red.half {
    background-image : url('data:image/svg+xml,﻿<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 6" fill="%23BF616A"><path d="M 0.4376 3.507 Q 0.7862 -1.195 6.6762 0.5975 Q 9.6212 1.4938 10.6392 1.3028 Q 11.6572 1.1118 12.7405 0.0391 Q 13.7367 0.1419 13.5624 2.493 Q 13.2138 7.195 7.3238 5.4025 Q 4.3788 4.5062 3.3608 4.6972 Q 2.3428 4.8882 1.2595 5.9609 Q 0.2633 5.8581 0.4376 3.507 Z"></path></svg>');
}
.squiggle.Red.empty {
    background-image : url('data:image/svg+xml,﻿<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 6" stroke="%23BF616A" stroke-width="0.25" fill-opacity="0"><path d="M 0.4376 3.507 Q 0.7862 -1.195 6.6762 0.5975 Q 9.6212 1.4938 10.6392 1.3028 Q 11.6572 1.1118 12.7405 0.0391 Q 13.7367 0.1419 13.5624 2.493 Q 13.2138 7.195 7.3238 5.4025 Q 4.3788 4.5062 3.3608 4.6972 Q 2.3428 4.8882 1.2595 5.9609 Q 0.2633 5.8581 0.4376 3.507 Z"></path></svg>');
}
.squiggle.Green.full, .squiggle.Green.half {
    background-image : url('data:image/svg+xml,﻿<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 6" fill="%23A3BE8C"><path d="M 0.4376 3.507 Q 0.7862 -1.195 6.6762 0.5975 Q 9.6212 1.4938 10.6392 1.3028 Q 11.6572 1.1118 12.7405 0.0391 Q 13.7367 0.1419 13.5624 2.493 Q 13.2138 7.195 7.3238 5.4025 Q 4.3788 4.5062 3.3608 4.6972 Q 2.3428 4.8882 1.2595 5.9609 Q 0.2633 5.8581 0.4376 3.507 Z"></path></svg>');
}
.squiggle.Green.empty {
    background-image : url('data:image/svg+xml,﻿<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 6" stroke="%23A3BE8C" stroke-width="0.25" fill-opacity="0"><path d="M 0.4376 3.507 Q 0.7862 -1.195 6.6762 0.5975 Q 9.6212 1.4938 10.6392 1.3028 Q 11.6572 1.1118 12.7405 0.0391 Q 13.7367 0.1419 13.5624 2.493 Q 13.2138 7.195 7.3238 5.4025 Q 4.3788 4.5062 3.3608 4.6972 Q 2.3428 4.8882 1.2595 5.9609 Q 0.2633 5.8581 0.4376 3.507 Z"></path></svg>');
}
.squiggle.Blue.full, .squiggle.Blue.half {
    background-image : url('data:image/svg+xml,﻿<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 6" fill="%2381A1C1"><path d="M 0.4376 3.507 Q 0.7862 -1.195 6.6762 0.5975 Q 9.6212 1.4938 10.6392 1.3028 Q 11.6572 1.1118 12.7405 0.0391 Q 13.7367 0.1419 13.5624 2.493 Q 13.2138 7.195 7.3238 5.4025 Q 4.3788 4.5062 3.3608 4.6972 Q 2.3428 4.8882 1.2595 5.9609 Q 0.2633 5.8581 0.4376 3.507 Z"></path></svg>');
}
.squiggle.Blue.empty {
    background-image : url('data:image/svg+xml,﻿<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 6" stroke="%2381A1C1" stroke-width="0.25" fill-opacity="0"><path d="M 0.4376 3.507 Q 0.7862 -1.195 6.6762 0.5975 Q 9.6212 1.4938 10.6392 1.3028 Q 11.6572 1.1118 12.7405 0.0391 Q 13.7367 0.1419 13.5624 2.493 Q 13.2138 7.195 7.3238 5.4025 Q 4.3788 4.5062 3.3608 4.6972 Q 2.3428 4.8882 1.2595 5.9609 Q 0.2633 5.8581 0.4376 3.507 Z"></path></svg>');
}

@media screen and (max-width: 900px) {
    .board {
        flex-direction : row;
    }
    .card {
        flex : 0 0 27vw;
        margin : 2vw;
        width : 24vw;
        height : 32vw;
        border-radius : 2vw;
        flex-direction : 
    }
    .oval {
        margin : 1vw;
        flex : 0 0 7.5vw;
        width : 13vw;
        height : 7.5vw;
        border-radius: 4vw; 
    }
    .rhombus {
        margin : 0.6vw;
        flex : 0 0 8vw;
        width : 8vw;
        height : 8vw;
        transform: rotate(-22.5deg) skewX(45deg) scaleY(cos(45deg));
    }
    .squiggle {
        margin : 1vw;
        flex : 0 0 7.5vw;
        width : 13vw;
        height : 7.5vw;
    }
    .empty {
        border-width : 0.5vw;
    }
    .half {
        mask-image: repeating-linear-gradient(-50deg, black, black 2px, transparent 2px, transparent 5px);
        -webkit-mask-image: -webkit-repeating-linear-gradient(-50deg, black, black 2px, transparent 2px, transparent 5px);
    }
}
